// import bootstrap styles and custom theme
@import "./theme";

// Reusable Class Styles
.text-underline {
    text-decoration: underline;
}

.line-height-2 {
    line-height: 2rem;
}

.letter-space-1 {
    letter-spacing: .1rem;
}
// TODO: convert to svg
.bg-leaf {
	background: url(../images/ui/leaf-texture.png) no-repeat bottom left;
	background-size: cover;
}

.intro-text {
    font-size: 2rem;
    line-height: 2.75rem;

    .emphasize {
        max-width: 290px;
        background: url(../images/ui/underline_red.png) no-repeat bottom left;
        font-size: 2.2rem;
        line-height: 1.38;
    }
}

#bundles {
    .highlight-text {
        background-image: url(../images/ui/highlight-text.png);
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.supplement-table {
    border: solid 2px;
    font-weight: bold;

    thead tr:last-child {
        font-weight: normal;
        border-top: solid 1rem;
        border-bottom: solid .5rem;

        td:last-child {
            text-align: right;
        }
    }
    tbody {
        border-bottom: solid 1rem;

        td {
            width: 200px;
        }
        td:last-child {
            text-align: right;
        }
    }
}

.affiliates {
    line-height: .83rem;
    max-width: 400px;
    margin: 0 auto;
}


footer {
    nav a {
        margin-right: .33rem;
        padding-right: .33rem;
        border-right: solid 1px;
        line-height: 1;
        color: $secondary;
    }
    nav a:last-child {
        border: none;
    }
}

@include media-breakpoint-up(lg) {
    #bundles {
        max-width: 1360px;
        margin: 0 auto;
    }
}

// Medium screen
@media (min-width: 567px) and (max-width: 767px) {
    .container {
        max-width: 700px;
    }
}