// import bootstrap styles and custom theme
@import "./theme";

// Reusable Class Styles
.text-underline {
    text-decoration: underline;
}

.line-height-2 {
    line-height: 2rem;
}

.letter-space-1 {
    letter-spacing: .1rem;
}

.text-small {
    font-size: .83rem;
}
.break-word {
	word-wrap: break-word;
}
// TODO: convert to svg
.bg-leaf {
    background: url(../images/ui/leaf-texture.png) no-repeat bottom left;
    background-size: cover;
}

.intro-text {
    font-size: 1.83rem;
    line-height: 2.75rem;
    background: url(../images/ui/white-line.png) no-repeat center 8%;

    .emphasize {
        max-width: 290px;
        background: url(../images/ui/underline_red.png) no-repeat bottom left;
        font-size: 2.2rem;
        line-height: 1.38;
    }
}

#bundles {
    .highlight-text {
        background-image: url(../images/ui/highlight-text.png);
        background-position: center center;
        background-repeat: no-repeat;
    }
    .card-body {
        position: relative;
    }
    .savings-sticker {
        width: 70px;
        height: 70px;
        position: absolute;
        top: -2rem;
        right: -2rem;

        .savings-text {
            margin: 1.125rem .5rem;
            line-height: .75;
        }
    }
}

// add guarantee seal to buttons
.gnt-btn {
    position: relative;
    padding-left: 75px;
}

.gnt-btn>img {
    position: absolute;
    width: 80px;
    height: 80px;
    top: -20px;
    left: -20px;
}
.gnt-btn.gnt-buy>img {
	width: 110px;
	height: 110px;
	top: -35px;
	left: -10px;
}

.supplement-table {
    border: solid 2px;
    font-weight: bold;

    thead tr:last-child {
        font-weight: normal;
        border-top: solid 1rem;
        border-bottom: solid .5rem;

        td:last-child {
            text-align: right;
        }
    }
    tbody {
        border-bottom: solid 1rem;

        td {
            width: 200px;
        }
        td:last-child {
            text-align: right;
        }
    }
}

.affiliates {
    line-height: .83rem;
    max-width: 400px;
    margin: 0 auto;

    .bg-dk-green {
    	background-color: $green !important;
    }
}
.signature {
	border-bottom: solid 2px;
}

footer {
    nav a {
        margin-right: .33rem;
        padding-right: .33rem;
        border-right: solid 1px;
        line-height: 1;
        color: $secondary;
    }
    nav a:last-child {
        border: none;
    }
}

@include media-breakpoint-up(md) {
    #bundles .savings-sticker {
        top: 2.5rem;
    }
}

@include media-breakpoint-up(lg) {
    #bundles {
        max-width: 1360px;
        margin: 0 auto;

        .savings-sticker {
            top: .5rem;
            right: -1.75rem;
        }
    }
}

// Small Screen
@media (min-width: 567px) and (max-width: 767px) {
    .container {
        max-width: 700px;
    }

}
@media (min-width: 768px) and (max-width: 1000px) {
    
    // add guarantee seal to buttons
.gnt-btn {
	padding-left: 1rem;
	padding-right: 1rem;
    margin-top: 80px;
 }

.gnt-btn>img {
    top: -85px;
    left: calc(50% - 40px);
}

    

}